@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif; }

span,
input,
form,
p,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a {
  margin: 0; }

.landing, .getInvolved, .discord, .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

html {
  font-size: 16px; }

body {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

a {
  color: #1fa635;
  transition: 0.5s all;
  text-decoration: none; }
  a:hover {
    color: #27d15f; }

li {
  list-style: none;
  list-style-image: none; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

/*  Parent Overlay  */
body {
  background-color: #d2d5d4; }

.gridContainer {
  display: grid;
  grid-template-areas: " landing landing landing                 landing landing landing " " purpose purpose purpose                 purpose purpose purpose " " getInvolved getInvolved getInvolved     discord discord discord " " projects projects projects              projects projects projects ";
  grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [col-6] 1fr;
  grid-template-rows: 100vh 70vh 70vh 70vh; }

.landing {
  color: #393c3b;
  background-color: #d2d5d4;
  grid-area: landing; }

.purpose {
  color: #393c3b;
  background-color: #d2d5d4;
  grid-area: purpose; }

.getInvolved {
  color: #393c3b;
  background-color: #c5c9c7;
  grid-area: getInvolved; }

.discord {
  color: #393c3b;
  background-color: #dfe1e1;
  grid-area: discord; }

.projects {
  color: #393c3b;
  background-color: #d2d5d4;
  grid-area: projects; }

/*   Sections   */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.purpose {
  text-align: center;
  margin: 0 auto;
  max-width: 60%; }
  .purpose .checkTest {
    display: flex; }
