// Use @extend for placeholders
%useBodyFont {
  font-family:'Roboto', sans-serif;
  }
  %useHeadlineFont {
  font-family:'Nunito', sans-serif;
  }

%container {
  max-width : 50em;
  margin : 0 auto;

  background-color : $container-Bg;
  div,
  p {
    padding : 4em;
  
    transition : all 0.5s;
    &:hover {
      @include offsetShadow(3px,2px,3px,2px);
    }
  }
}
%outsideMargin {
  width : 80%;
  max-width : 80%;
  margin : 0 auto;

  background-color : $container-Bg;
}
%zeroMargin {
  margin : 0;
}


%section{
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
%projectPlaceHolder{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:25vh;
  min-width:40%;
  margin:4% 4%;
  border-radius:5px;
  @include offsetShadow(1px,2px,2px,1px);

  h2{
    margin-bottom:1rem;
    
  }
  p{
    margin-bottom:1rem;
    display:block;

  }
}

