// Fonts
$body-Font: #333;


// $base:
$font-Headline:'Nunito', sans-serif;
$font-Body:'Roboto', sans-serif;

//Logo Bright Colors
$logoBG: rgb(1, 255, 48);
$logoBR: rgb(255, 1, 114);

// Logo Dark Colors
$logoDG:rgb(29, 175, 57);
$logoDR: rgb(163, 17, 83);

